@import url(bootstrap.css);

body {
     background-color: SandyBrown;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
     color: Maroon;
     font-size: 25;
}

p {
     color: White;
}

.container {
           background: url('https://f.cloud.github.com/assets/5033756/970821/ddfac694-05dc-11e3-9549-6ab405100362.jpg');
           padding: 60px 40px 20px;
}
 h5 {
      color: Black;
 }

ul {
     color: White;
}

h2 {
     color: Yellow;
}

.well {
     background: url('https://f.cloud.github.com/assets/5033756/1010318/81216448-0b48-11e3-82d8-19532f2a3a02.png');
}

h3 {
     color: White;
}
