@import url(bootstrap.css);

body {
     background-color: SandyBrown;
}

h1 {
     color: Maroon;
     font-size: 25;
}

p {
     color: White;
}

.container {
           background: url('https://f.cloud.github.com/assets/5033756/970821/ddfac694-05dc-11e3-9549-6ab405100362.jpg');
           padding: 60px 40px 20px;
}
 h5 {
      color: Black;
 }

ul {
     color: White;
}

.navbar-brand {
     color: LightSeaGreen;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #FC6CC0;
  background-color: #AAE600;
}

a {
  color: #B244D0;
} 

p {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4A8F20;
}

.page-header {
  border-bottom: 1pxpx solid #4258A0;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #BF7DB0;
  padding: 4px 4px 4px 4px;
  font-size: 13px;
  color: #F7F660;
  border: 1px solid #ccc;
}

.well {
  background-color: #A0BDC0;
}

.btn {
  color: #3E54E0;
  background-image: -moz-linear-gradient(top, #6AE3B0, #4C2620);
  background-image: -ms-linear-gradient(top, #6AE3B0, #4C2620);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6AE3B0), to(#4C2620));
  background-image: -webkit-linear-gradient(top, #6AE3B0, #4C2620);
  background-image: -o-linear-gradient(top, #6AE3B0, #4C2620);
  background-image: linear-gradient(top, #6AE3B0, #4C2620);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'6AE3B0, endColorstr='#'4C2620, GradientType=0);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #3E54E0;
  background-color: #4C2620;
}

.btn-primary {
  background-color: #006dcc;
  color: #3709E0;
  background-image: -moz-linear-gradient(top, #F637D0, #7A24A0);
  background-image: -ms-linear-gradient(top, #F637D0, #7A24A0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F637D0), to(#7A24A0));
  background-image: -webkit-linear-gradient(top, #F637D0, #7A24A0);
  background-image: -o-linear-gradient(top, #F637D0, #7A24A0);
  background-image: linear-gradient(top, #F637D0, #7A24A0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'F637D0, endColorstr='#'7A24A0, GradientType=0);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #7A24A0;
}

.btn-warning {
  color: #4E1D20;
  background-image: -moz-linear-gradient(top, #285340, #EA33A0);
  background-image: -ms-linear-gradient(top, #285340, #EA33A0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#285340), to(#EA33A0));
  background-image: -webkit-linear-gradient(top, #285340, #EA33A0);
  background-image: -o-linear-gradient(top, #285340, #EA33A0);
  background-image: linear-gradient(top, #285340, #EA33A0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'285340, endColorstr='#'EA33A0, GradientType=0);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #EA33A0;
}

.btn-danger {
  color: #C078F0;
  background-image: -moz-linear-gradient(top, #5B1F00, #4485F0);
  background-image: -ms-linear-gradient(top, #5B1F00, #4485F0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5B1F00), to(#4485F0));
  background-image: -webkit-linear-gradient(top, #5B1F00, #4485F0);
  background-image: -o-linear-gradient(top, #5B1F00, #4485F0);
  background-image: linear-gradient(top, #5B1F00, #4485F0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'5B1F00, endColorstr='#'4485F0, GradientType=0);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #4485F0}

.btn-success {
  color: #9537D0;
  background-image: -moz-linear-gradient(top, #608B60, #D330A0);
  background-image: -ms-linear-gradient(top, #608B60, #D330A0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#608B60), to(#D330A0));
  background-image: -webkit-linear-gradient(top, #608B60, #D330A0);
  background-image: -o-linear-gradient(top, #608B60, #D330A0);
  background-image: linear-gradient(top, #608B60, #D330A0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'608B60, endColorstr='#'D330A0, GradientType=0);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #D330A0;
}

.btn-info {
  color: #E07470;
  background-image: -moz-linear-gradient(top, #FD6970, #D1B3F0);
  background-image: -ms-linear-gradient(top, #FD6970, #D1B3F0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FD6970), to(#D1B3F0));
  background-image: -webkit-linear-gradient(top, #FD6970, #D1B3F0);
  background-image: -o-linear-gradient(top, #FD6970, #D1B3F0);
  background-image: linear-gradient(top, #FD6970, #D1B3F0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'FD6970, endColorstr='#'D1B3F0, GradientType=0);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #D1B3F0;
}

.alert {
  padding: 8px 35px 8px 14px;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
}

.alert-success {
  background-color: #ED0380;
  border-color: #6250F0;
}
.alert-success, .alert-success .alert-heading {
  color: #BF8540;
}
.alert-danger, .alert-error {
  background-color: #410490;
  border-color: #B5F550;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: #4A41E0;
}
.alert-info {
  background-color: #189010;
  border-color: #47B080;
}
.alert-info, .alert-info .alert-heading {
  color: #D9AB40;
}

.navbar-inner {
  background-image: -moz-linear-gradient(top, #007f7f, #007f7f);
  background-image: -ms-linear-gradient(top, #007f7f, #007f7f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#007f7f), to(#007f7f));
  background-image: -webkit-linear-gradient(top, #007f7f, #007f7f);
  background-image: -o-linear-gradient(top, #007f7f, #007f7f);
  background-image: linear-gradient(top, #007f7f, #007f7f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'007f7f, endColorstr='#'007f7f, GradientType=0);
}

.navbar .brand {
  padding: 8px 20px 12px;
  font-size: 20px;
  color: #ffff00;
}

.navbar .divider-vertical {
  height: 41px;
  background-color: #21C740;
  border-right: 1px solid #ffffff;
}

.navbar .nav > li > a {
  padding: 10px 10px 11px;
  font-size: 14px;
  color: #f9f2f2;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #ff56aa;
}

.label,
.badge {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  color: #8D1900;
  background-color: #6F7A80;
}

.label-important,
.badge-important {
  background-color: #095540;
}

.label-warning,
.badge-warning {
  background-color: #FBE4F0;
}

.label-success,
.badge-success {
  background-color: #82B530;
}

.label-info,
.badge-info {
   background-color: #682370;
}
