@import url(bootstrap.css);

body {
     background-color: SandyBrown;
}

h1 {
     color: LightSeaGreen;
     font-size: 25;
}

p {
     color: White;
}

.container {
           background: url('https://f.cloud.github.com/assets/5033756/970821/ddfac694-05dc-11e3-9549-6ab405100362.jpg');
           padding: 60px 40px 20px;
}
 h5 {
      color: Black;
 }

ul {
     color: White;
}
